{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
<script src="{{ url_for('static', filename='js/application.js') }}" type="text/javascript"></script>

{% endblock %}

{% block title %}Flasky{% endblock %}

    {% block page_content %}
<div class="page-header">
    <!--<h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>-->
    <!--<h1>The query result is {% if query_result %}{{ query_result }}{% else %}No Query{% endif %} </h1>-->
</div>
<div class="row">
    <div class="Working_Area">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div class="Result_Area">
    <h1>Query Condiction: {% if Query_condiction %}{{Query_condiction}} {% else %} No Query {% endif %}!</h1>
    <P>Query result: </P>
    {% if Query_result %}
    <table id="t01">
        <tr>
            <th>Stock</th>
            <th>Link</th>
            <th>Add Watch</th>
        </tr>
        {% for query in Query_result %}
        <tr>
            <td>{{query}}</td>
            <td><a href="https://tw.stock.yahoo.com/q/q?s={{query}}" target="_blank">Link</a></td>
            <td><input type="button" value="Add Watch" name="{{query}}"></td>
        </tr>
        {% endfor %}
    </table>
    {% else %} No Query {% endif %}!
</div>

{% endblock %}
